<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='additional_form_style.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button_style.css') }}">

    <title>Cake order</title>

<!-- Adding Zopim Live Chat -->
<script>
    if(!window.__surfly){
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="//v2.zopim.com/?40l495kTPWFGA7JFrUDzK03KARqCPsNL";z.t=+new Date;$.
        type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    }
</script>
<!--End of Zopim Live Chat Script-->

<script>
(function(s,u,r,f,l,y){s[f]=s[f]||{init:function(){s[f].q=arguments}};
l=u.createElement(r);y=u.getElementsByTagName(r)[0];l.async=1;
l.src='https://surfly-s1.com/surfly.js';y.parentNode.insertBefore(l,y);})
(window,document,'script','Surfly');
</script>

<script>
var settings={widgetkey:'dd402bb4940b4cf3a855aaa371d11419', cookie_transfer_enabled: true, cookie_transfer_proxying: false}
window.addEventListener('DOMContentLoaded', function() {
  Surfly.init(settings, function(init) {
    if (init.success) {
    }
   });
 });
</script>

  </head>

  <body class="body-style">
         <a href="{{ url_for('index') }}">
         <img class="img-logo" src="../static/logo4.png"/>
         </a>

	<form id="order" class="dark-matter">

	    <h1 class="text-title">Fantasy Bakes Order Form 
		<span>Please fill all the text fields</span>
	    </h1>
	    <label>
		<span>Full name :</span>
		<input id="name" type="text" name="name" />
	    </label>
	    
	    <label>
		<span>Email address :</span>
		<input id="email" type="email" name="email"/>
	    </label>
	    
	    <label>
		<span>Address:</span>
		<textarea id="address" name="address"> </textarea>
	    </label> 
            <label>
		  <div class="form-row">
    		    <label>
		      <span>Card Number</span>
		      <input type="text" size="20" data-stripe="number" surfly_private>
		    </label>
		  </div>

		  <div class="form-row">
		    <label>
		      <span>Expiration (MM/YY)</span>
		      <input type="text" size="5" surfly_private>
		    </label>
		  </div>

		  <div class="form-row">
		    <label>
		      <span>CVC</span>
		      <input type="text" size="4" data-stripe="cvc" surfly_private>
		    </label>
		  </div>
	    </label>      
            <label>
               <span>&nbsp;</span>
               <input type="button" class="button" id="order_button" style="cursor:pointer;" onclick=thankYou() style="background-color: #87cefa;" value="Order" /> 
            </label>
	</form>
       
          <script type="text/javascript">
           function thankYou() {
	        document.getElementById("order").submit();
	        var get_name = document.getElementById("name").value;
	        var get_email = document.getElementById("email").value;
	        var get_address = document.getElementById("address").value;  
	        document.cookie = 'order: name='+get_name+', email='+get_email+', address='+get_address;
	        window.location.href = '/thank_you';
	   }
        </script>
  </body>
</html>
