<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button_style.css') }}">

    <title>Thank you page</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

<!-- Adding Zopim Live Chat -->
<script>
    if(!window.__surfly){
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="//v2.zopim.com/?40l495kTPWFGA7JFrUDzK03KARqCPsNL";z.t=+new Date;$.
        type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    }
</script>
<!--End of Zopim Live Chat Script-->

<script>
(function(s,u,r,f,l,y){s[f]=s[f]||{init:function(){s[f].q=arguments}};
l=u.createElement(r);y=u.getElementsByTagName(r)[0];l.async=1;
l.src='https://surfly-s1.com/surfly.js';y.parentNode.insertBefore(l,y);})
(window,document,'script','Surfly');
</script>

<script>
var settings={widgetkey:'dd402bb4940b4cf3a855aaa371d11419', cookie_transfer_enabled: true, cookie_transfer_proxying: false}
window.addEventListener('DOMContentLoaded', function() {
  Surfly.init(settings, function(init) {
    if (init.success) {
    }
   });
 });
</script>

    <style>
    
      #exit_button {
        background-color: #87cefa;
        border: none;
        color: black;
        padding: 3px 7px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 0 auto;
        cursor: pointer;
        width: 8%;
        height: 30px;
        font-weight: bold;
        border-radius: 8px;
        right: 5px;
        top: 5px;
        position: absolute;
    }

    </style>


</head>
   
<body>
    <header id="top" class="header">
        <img class="img-logo" src="../static/logo2.png"/>
        <div class="text-vertical-center">
            <h1>Thank you</h1>
            <h3>for your order</h3>
            <br>
            <a href="{{ url_for('receipt') }}" class="btn btn-dark btn-lg">Get Receipt</a>
        </div>
    </header>

</body>

</html>
